# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.h5
*.xdmf
Cas_test_ITER/cas_test_ITER_simple.bak
Cas_test_ITER/maillages/Mesh_ITER_530761/Mesh_ITER.hdf
Cas_test_ITER/maillages/Mesh_ITER_530761/Mesh_ITER.med
Cas_test_ITER/maillages/Mesh_ITER_530761/Mesh_ITER.py
Cas_test_ITER/maillages/Mesh_ITER_530761/Mesh_ITER_530761.zip
Cas_test_ITER/maillages/Mesh_ITER_530761/Mesh_ITER_bak.hdf
Cas_test_ITER/maillages/Mesh_ITER_99950.zip
Cas_test_ITER/results/ITER_case_theta_sol2/derived_quantities.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/derived_quantities.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/Divertor_TestCase_LSPM_20191206.pptx
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export.zip
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/__LOOK ME.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/__README.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Integrated_values.xlsx
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/PotChem-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Retention-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Solute-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Temperature-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-1-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-2-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-3-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe1.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2-1.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2-2.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2-3.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2-4.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2-5.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2-6.txt
Cas_test_ITER/results/ITER_case_theta_sol2_99950/export/Trap-4-axe2.png
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/1_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/2_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/3_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/4_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/retention_m3_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/solute_m3_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/T_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_1_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_1_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_1_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_1_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_1_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_1_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_2_01.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_2_02.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_2_03.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_2_04.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_2_05.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/extract001/theta_2_06.csv
Cas_test_ITER/results/ITER_case_theta_sol2_99950/postOctave.m
Cas_test_ITER/results/results.zip
monoblock_1D/bug_S/Solution_high_mesh_mu/0_2400000.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu/1_2400000.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu/2_2400000.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu/3_2400000.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu/derived_quantities.csv
monoblock_1D/bug_S/Solution_high_mesh_mu/retention_2400000.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu/sim_monoblock_1D.py
monoblock_1D/bug_S/Solution_high_mesh_mu/T_2400000.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/0_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/0_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/1_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/1_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/2_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/2_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/3_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/3_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/derived_quantities.csv
monoblock_1D/bug_S/Solution_high_mesh_mu_C/retention_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/retention_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/sim_monoblock_1D.py
monoblock_1D/bug_S/Solution_high_mesh_mu_C/T_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/T_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_C/VALEUR C.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/0_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/1_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/2_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/3_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/4_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/5_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/derived_quantities.csv
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/retention_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/sim_monoblock_1D.py
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh1_S/T_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/0_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/1_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/2_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/3_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/4_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/5_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/derived_quantities.csv
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/retention_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/sim_monoblock_1D.py
monoblock_1D/bug_S/Solution_high_mesh_mu_mesh2_S/T_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/0_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/0_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/1_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/1_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/2_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/2_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/3_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/3_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/derived_quantities.csv
monoblock_1D/bug_S/Solution_high_mesh_mu_S/retention_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/retention_2.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/T_1.0s.txt
monoblock_1D/bug_S/Solution_high_mesh_mu_S/T_2.0s.txt
monoblock_1D/sim_monoblock_1D.zip
monoblock_1D/sim_monoblock_1D_jm1404.zip
monoblock_1D/Solution_high_mesh_mu/0_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu/1_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu/2_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu/3_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu/derived_quantities.csv
monoblock_1D/Solution_high_mesh_mu/retention_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu/solute_avec_valeur correcte.png
monoblock_1D/Solution_high_mesh_mu/solute_avec_valeur du W.png
monoblock_1D/Solution_high_mesh_mu/T.png
monoblock_1D/Solution_high_mesh_mu/T_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu2/0_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu2/1_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu2/2_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu2/3_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu2/derived_quantities.csv
monoblock_1D/Solution_high_mesh_mu2/retention_2400000.0s.txt
monoblock_1D/Solution_high_mesh_mu2/solute.png
monoblock_1D/Solution_high_mesh_mu2/T.png
monoblock_1D/Solution_high_mesh_mu2/T_2400000.0s.txt
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=5.40e+02;c=1.62e+22/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=5.66e+02;c=1.57e+20/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=6.17e+02;c=5.63e+20/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=6.75e+02;c=8.40e+20/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=6.92e+02;c=8.75e+21/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=6.95e+02;c=5.88e+21/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=7.18e+02;c=4.89e+21/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=7.95e+02;c=1.95e+21/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=8.83e+02;c=8.84e+21/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=9.19e+02;c=1.40e+22/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=9.88e+02;c=1.30e+21/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand/T=9.95e+02;c=1.48e+22/derived_quantities.csv
pour_etienne_et_jon/Solution_instantaneous_recomb_rand_J1.zip
pour_etienne_et_jon/Solution_instantaneous_recomb_rand_J2.zip
pour_etienne_et_jon/Solution_instantaneous_recomb_rand_J3.zip
pour_etienne_et_jon/Solution_instantaneous_recomb_rand_J4.zip
test_chemical_pot.zip
