name: Docker CI
on: [pull_request, push]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container_version: [v0.9.0]
    container: dolfinx/dolfinx:${{ matrix.container_version }}
    steps:
        - name: Checkout code
          uses: actions/checkout@v2
      
        - name: Install local package and dependencies
          run: |
            pip install .[test]

        - name: Run tests
          run: |
            python3 -m pytest test/ --cov festim --cov-report xml --cov-report term
        
        - name: Upload to codecov
          uses: codecov/codecov-action@v4
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./coverage.xml
  
  run-tests-on-nightly-dolfinx:
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions: write-all
    strategy:
      fail-fast: false
      matrix:
        container_version: [nightly]
    container: dolfinx/dolfinx:${{ matrix.container_version }}
    steps:
        - name: Checkout code
          uses: actions/checkout@v2
      
        - name: Install local package and dependencies
          run: |
            pip install .[test]

        - name: Run tests
          id: check
          run: |
            if ! python3 -m pytest test/ --cov festim --cov-report xml --cov-report term; then
              echo "warning=true" >> $GITHUB_ENV
            fi

        - name: Ensure job is not marked as failure
          if: always()
          run: echo "Forcing job success"

        - name: Upload to codecov
          uses: codecov/codecov-action@v4
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./coverage.xml
  
  test_comment_on_PR:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
        - name: Checkout code
          uses: actions/checkout@v3
      
        - name: Comment PR
          uses: thollander/actions-comment-pull-request@v3
          with:
            message: 'test message!'
            github-token: ${{ secrets.GITHUB_TOKEN }}
            pr-number: ${{ github.event.pull_request.number }}
