name: Documentation test

on: [push, pull_request]

jobs:
  docbuild:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: festim-docs
        environment-file: docs/environment.yml

    - name: urls-checker
      uses: urlstechie/urlchecker-action@master
      with:
         # A subfolder or path to navigate to in the present or cloned repository
          subfolder: docs

          # A comma-separated list of file types to cover in the URL checks
          file_types: .md,.py,.rst

          # Choose whether to include file with no URLs in the prints.
          print_all: false

          # The timeout seconds to provide to requests, defaults to 5 seconds
          timeout: 5

          # How many times to retry a failed request (each is logged, defaults to 1)
          retry_count: 3
          
          # A comma separated links to exclude during URL checks
          exclude_urls: https://www.lspm.cnrs.fr/en/home/

          # A comma separated patterns to exclude during URL checks
          exclude_patterns: https://theses.fr/
  
          # choose if the force pass or not
          force_pass : false

    - name: Doc Tests
      shell: bash -l {0}
      run: sphinx-build -b doctest docs/source docs/_build/doctest
